#
# ~/.Xresources
#

URxvt*background: black
URxvt*foreground: white

URxvt.font: xft:Inconsolata:size=15

URxvt.scrollstyle: plain

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.perl-ext-common: default,resize-font
